# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bc

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Output files and directories
results/
regression.diffs
regression.out
compile_commands.json

